<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SNAP Dispatcher</title>
    <link rel="icon" href="WPI_logo.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="split leftSplit">

    <!-- Left Navigation Bar -->
    <ul class="navLeft">
        <li><a href="/addRequest" id="addReq">Add a Request</a></li>
        <h3>New Requests</h3>
    </ul>

    <!-- Left Table -->
    <div class="dtLeft">
        <table class="leftTable">
            <tr>
                <!--Using same class name as right table to make them have the same width-->
                <th class="RideID">Ride ID</th>
                <th class="From">From</th>
                <th class="To">To</th>
                <th class="Passengers">No. Passengers</th>
                <th class="Accom">Accommodations</th>
                <th class="Time">Time Received</th>
            </tr>

            <% newRequestRows.forEach(function (row) { %>

            <tr class="leftTableRow clickable-row" data-id='/assignNewRequest/<%=row.idnewRequests %>'>
                <td><%= row.idnewRequests %></td>
                <td><%= row.rideFrom %></td>
                <td><%= row.rideTo %></td>
                <td><%= row.numPassengers %></td>
                <td class="hasTooltip"><%= row.accommodations %>
                </td>
                <td><%= row.timeIn.slice(16, 21) %></td>
            </tr>

            <% }); %>
        </table>
    </div>

</div>

<div class="split rightSplit">

    <!-- Right Navigation Bar -->
    <ul class="navRight">

        <li style="float: right">
            <div class="menuDiv">
                <a href="#" class="menuIcon"><i class="material-icons">dehaze</i></a>
            </div>
            <nav class="menuNav">
                <a href="/viewArchive" class="menuItem">View Archive</a>
                <a href="/maintenance" class = "menuItem">Van in Maintenance</a>
                <a href="/admin" class ="menuItem">Admin</a>
                <a href="#" class="menuItem">Log off</a>
            </nav>
        </li>
        <h3>In Process Requests</h3>
    </ul>

    <!-- Right Table -->
    <div class="dtRight">
        <table class="rightTable">
            <tr>
                <!--Using same class name as left table to make them have the same width-->
                <!-- move this outside the table so that it stays-->
                <th class="RideID">Ride ID</th>
                <th class="From">From</th>
                <th class="To">To</th>
                <th class="Passengers">No. Passengers</th>
                <th class="Accom">Accommodations</th>
                <th class="vanNo">Van No.</th>
                <th class="Time">Time Received</th>
            </tr>
            <% inProcessRows.forEach(function (row) { %>
            <tr class="clickable-row-process" data-id='/assignProcessRequest/<%=row.idinProcessRequests %>'>
                <td><%= row.idinProcessRequests %></td>
                <td><%= row.rideTo %></td>
                <td><%= row.rideFrom %></td>
                <td><%= row.numPassengers %></td>
                <td class="hasTooltip" ><%= row.accommodations %>
                </td>
                <td><%= row.vanNumber %></td>
                <td><%= row.timeIn.slice(16, 21) %></td>
            </tr>
            <% }); %>

        </table>
    </div>
</div>


<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").dblclick(function() {
            let newId = $(this).data("id");
            if(newId) {
                window.location = newId;
            }

        });
    });
</script>

<script>
    jQuery(document).ready(function($) {
        $(".clickable-row-process").dblclick(function() {
            let newId = $(this).data("id");
            if(newId) {
                window.location = newId;
            }

        });
    });
</script>

<script>
    jQuery(document).ready(function(){

        $('.hasTooltip').each(function() {

            var str = $(this).text();
            var n = str.length;

            if (n > 35)
                $(this).append('<span>' + str + '</span>');
        })
    });
</script>

<script>
    jQuery(document).ready(function() {
        $("nav.menuNav").hide();
    });
</script>

<script>
    jQuery(document).ready(function() {
        $('.menuDiv').click(function(){
            $("nav.menuNav").toggle();
        });
    });
</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>